<div class="card-deck">
  <div *ngFor="let place of places">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/foto/2img.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{place.name}}</h5>
        <p class="card-text">Opis: {{place.description}}</p>
        <p class="card-text">Adres: {{place.address}}, województwo: {{place.voivodeship}}</p>
        <button class="btn btn-secondary" (click)="onGoToThisPlace(place.name)">
          Read more
        </button>
      </div>
    </div>
  </div>
</div>
