<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FOTOLANDER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/', 'places']">PLACES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/', 'map']">MAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="cursor: pointer;" data-bs-toggle="modal"  data-bs-target="#modalLogin" aria-current="page">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/', 'about']">ABOUT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle small" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            LANG
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item small" href="#"><img src="/assets/an.png" alt="" width="20" height="20" class="d-inline-block"> eng</a></li>
            <li><a class="dropdown-item small" href="#"><img src="/assets/pl.png" alt="" width="20" height="20" class="d-inline-block"> pol</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header" id="modalTrans">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="email" placeholder="Email address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Login</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [routerLink]="['/', 'register']">Register</button>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
